.gradient-form{
    margin-bottom: 50px;
}
.error{
    color: #b22222;
    text-align: left;
    padding-left: 10px;
}
.left-panel{
    height: 115vh;
    margin-bottom: 50px;
}
.gradient-custom-2 {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    align-self: center;
    height: 115vh;
}
.login-logo{
    width: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 90vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}